{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block css %}<link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-login' action="/login/" method="post">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              {% csrf_token %}
              <h2 class="text-center">欢迎登录</h2>

{#              {{ login_form}}#}
              <div class="form-group">
                  {{ login_form.username.label_tag }}
                  {{ login_form.username}}
              </div>
              <div class="form-group">
                  {{ login_form.password.label_tag }}
                  {{ login_form.password }}
              </div>

              <div class="form-group">
                  {{ login_form.captcha.errors }}
                  {{ login_form.captcha.label_tag }}
                  {{ login_form.captcha }}
              </div>

              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>

          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}


{#form标签主要确定目的地url和发送方法；#}
{#p标签将各个输入框分行；#}
{#label标签为每个输入框提供一个前导提示，还有助于触屏使用；#}
{#placeholder属性为输入框提供默认值；#}
{#autofocus属性为用户名输入框自动聚焦#}
{#required表示该输入框必须填写#}
{#passowrd类型的input标签不会显示明文密码#}

{#========================================================================#}
{#通过{% extends 'base.html' %}继承了‘base.html’模板的内容；#}
{#通过{% block title %}登录{% endblock %}设置了专门的title；#}
{#通过block css引入了针对性的login.css样式文件；#}
{#主体内容定义在block content内部#}
{#添加了一个重置按钮。#}

{#你没有看错！一个{{ login_form }}就直接完成了表单内容的生成工作！login_form这个名称来自你在视图函数中生成的form实例的变量名！#}
{#但是，它不会生成<form>...</form>标签，这个要自己写；#}
{#使用POST的方法时，必须添加{% csrf_token %}标签，用于处理csrf安全机制；#}
{#Django自动为每个input元素设置了一个id名称，对应label的for参数#}
{#重置和提交按钮需要自己写，Django不会帮你生成！#}